@page
@model IndexModel
@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Шифр Виженера</h1>
    <h1>Здесь вы можете зшифроать или расшифровать инфрамцию, использую алгоритм Виженера </h1>
    <p></p>
    <h1>На панели сверху располагаются соответствующие вкладки, переходите по ним и следуйте указаниям!</h1>
    <p></p>
    <h1>Обратите внимание! При загрузке файла сервис вам выдаст ответ в файле с аналогичным расширением.</h1>
</div>
